body {
 background-color: rgba(80,80,80,0.4);
 /* background-image: url("image/Emma.jpg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;*/
  font-size: 1em;
  
  
} 
h3 {
  color: blue;
  font-weight: 900;
} 

p.firstletter::first-letter {
  font-size: 40px;
}

a {
  color: red;
  text-decoration: none;
  font-weight: 900;
} 
.song {
  background-color: rebeccapurple;
  border: 0.125em solid white ;
  color:white;
  border-radius: 25px;
    padding: 20px; 
    width: 250px;
    height:180px;   
    font-size: 20px;
    float: right;
    
} 
img {
  border-radius: 25px;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
} 
img:hover {
  opacity:0.7;
}